VITE_SUPABASE_URL=https://oibktybjnjxndffxzrqb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9pYmt0eWJqbmp4bmRmZnh6cnFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkxOTg5NzQsImV4cCI6MjEwNDc3NDk3NH0.kKo8Xz0mK_AkWZPK0QiYqTgqT2YEjyVI4VsLetA4mvM
